*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(22,148,209);
    background: linear-gradient(0deg, rgba(22,148,209,1) 0%, rgba(1,49,106,1) 100%);

}
.container-list{
}

.btn {
  width: 300px;
  height: 50px;
  border: 2px solid white;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1.5s;
  padding: 10px;
  margin: 20px;
  color: white;
}

.btn::before, .btn::after {
  position: absolute;
  z-index: -1;
  transition: 1.5s;
  content: '';
}

.btn::before {
  height: 50px;
  width: 250px;
}

.btn::after {
  width: 300px;
  height: 30px;
}

.btn:hover::before {
  width: 0px;
  background: rgb(22,148,209);
}

.btn:hover::after {
  height: 0px;
  background: rgb(22,148,209);
}

.btn:hover {
  background: white;
  color: rgb(22,148,209);
  font-weight: bold;
  font-size: 20px;
}
